@import "setup";

// VARIABLES
$primary : #f77754;
$secondary : #584b42;
$accent1: #537d91;
$accent2: #a4d1c8;

@font-face {
    font-family: 'florenceregular';
    src: url('../fonts/florence/florence-regular-webfont.woff2') format('woff2'),
        url('../fonts/florence/florence-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ribbonregular';
    src: url('../fonts/ribbon/ribbon_v2_2011-webfont.woff2') format('woff2'),
        url('../fonts/ribbon/ribbon_v2_2011-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
    font-size: 62.5%;
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: florenceregular;
    color:$secondary;
    scroll-behavior: smooth;
}

.headerContainer{
    transform: skewy(-4deg);
    padding:50px 0;
    h1{
        font-family: ribbonregular;
        font-size: 5.6rem;
        margin:0;
    }
}

ul{
    display: flex;
    flex-direction: column;
    li{
        display: inline;    
    }
}

button{
    width: 200px;
    height: 50px;
    font-size: 3rem;
    text-transform: uppercase;
    color:$secondary;
    background:$primary;
    border-radius: 20px;
}

img{
    max-height: 100%;
}

.hidden{
    display:none;
}
// INTRO SECTION STYLES
.intro{
    height: 100vh;
    
    .jumbotron{
        background: rgba(164,209,200,0.9);
        height:100vh;
        text-align: center;
    }
    
    // LOGO STYLES
    .logoContainer,  .circle, .cross:before,  .cross:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    /* the cross - the main part of the logo */
    .cross::before,  .cross::after {
        background: $primary;
        width: 198px;
        height: 5px;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .cross::before {
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: translateX(-50%) rotate(45deg);
    }
    .cross::after {
        -webkit-transform: translateX(-50%) rotate(-45deg);
        transform: translateX(-50%) rotate(-45deg);
    }
    /* general styles for the characters in our logo */
    .characters {
        position: absolute;
        font: normal normal 400 18pt/1 "Times New Roman", Times, serif;
        color:$primary;
        text-align: center;
    }
    .icon {
        color: #e74c3c;
        text-shadow: 0 1px 0 #333;
    }
    /* helper classes for quadrant orientation */
    .landscape {
        width: 140px;
        height: 70px;
        line-height: 70px;
    }
    .portrait {
        width: 70px;
        height: 140px;
        line-height: 140px;
    }

    /* quadrants*/
    .t-q {
        top: -70px;
        left: -70px;
    }
    .b-q {
        top: 0px;
        left: -70px;
    }
    .l-q {
        top: -70px;
        left: -70px;
    }
    .r-q {
        top: -70px;
        left: 0px;
    }

    .play{
        margin-top:300px;
    }
}

// GAMEAREA STYLES

.gameArea{
    background:rgba(164,209,200,0.6);
    height:100vh;

    .container{
        display:flex;
        justify-content: center;
        margin:0 auto;
    }

    .scoreBoard{
        float:right;
    }

    .picture{
        width:25vw;
        height: 50%;
        margin-top:10vh;
        // box-shadow: inset 0px 0px 40px 40px rgba(164,209,200,0.6);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .field{
        height: 50vh;
    }

    h2{
        font-size: 4rem;
        margin:0;
    }

    ul{
        width:100%;
        padding:0;
        li{
            width:100%;
            background: $primary;
            margin: 5px 0;
            padding:10px;
            font-size: 2.6rem;
        }
    }
}